# Ignorar ambiente virtual
venv/
venvPython310/
venvCuda/
caio/
nome_do_ambiente/
# Ignorar arquivos compilados do Python
__pycache__/
*.py[cod]

# Ignorar arquivos de log e temporários
*.log
*.tmp

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# (Opcional) Arquivos de cache do Jupyter
.ipynb_checkpoints/
